@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  *{
    @apply outline-none text-maintext font-sans
  }

  .flex-center{
    @apply flex justify-center items-center
  }
  span, i, a{
    @apply text-inherit
  }
  .btn{
    @apply flex-center gap-2 font-semibold text-base
  }
  .btn-primary{
    @apply bg-primary text-white btn hover:brightness-75
  }
  .inputs{
    @apply border bg-secondary focus:ring-[3px] ring-primary/70 ring-offset-2 px-4 h-12 rounded-xl font-medium text-sm
  }
  main{
    @apply max-w-[90%] md:max-w-[768px] mx-auto
  }
}

:root{
  --primary: 48 48 48;
  --secondary:250 250 250;
  --maintext: 68 68 68;
  --subtext: 136 136 136;
}
